*node_modules/
!node_modules/samp-node-lib
!node_modules/youtube-audio-server

server_package/modules/mysql/index.js
server_log.txt
server.cfg
samp.ban

server_package/libs/samp/build
server_package/libs/streamer/build
server_package/libs/ysf/build
samp-node.log